/* App.css or your main CSS file */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Righteous&family=Syncopate:wght@400;700&display=swap');


/* 📱 mobile styles */

/* Index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Syncopate', sans-serif;
}


/* ---------- scrollbar ---------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ---------- video background ---------- */

.video-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------- footer ---------- */
footer {
  padding: 2%;
  text-align: center;
  font-size: .75rem;
}

.nameLink {
  text-decoration: none;
  color: #aef2ff;
}

.nameLink:hover {
  color: white;
}

/* Content.css */
.Content {
  margin: 0;
  padding: 0;
  width: 100%;
}

.PageContent {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
}



/* ---------- nav bar ---------- */
.HeaderTitle {
  font-size: 6vw;
  font-weight: bold;
  padding-left: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.SearchBar {
  padding: 0px 10% 10px 10%;
  margin-right: 0px;
  display: flex;
  justify-content: space-evenly;
}

.searchBarEntry {
  border-radius: 50px;
  padding: 7px 34px;
  border-radius: 42px;
  border-width: 1;
  box-shadow: rgba(255, 202, 177, 0.24) 0 2px 2px, rgba(255, 202, 177, 0.229) 0 8px 12px;
}

.searchBarEntry:focus,
.button-33:focus {
  border-color: rgba(255, 202, 177, 0.857);
  box-shadow: 0 0 5px rgb(255, 202, 177);
}


.button-33 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(255, 247, 243, 0.979), rgba(255, 202, 177, 0.857) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(255, 202, 177, 0.24) 0 2px 2px, rgba(255, 202, 177, 0.229) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-33:hover,
.button-33:active,
.button-33:focus {
  background-image: linear-gradient(rgba(255, 247, 243), rgba(255, 202, 177) 50%);
  color: white;
}

@media (min-width: 768px) {
  .button-33 {
    font-size: 21px;
    padding: 12px 34px;
  }
}



.Date {
  font-size: 1rem;
}


/* FiveData.css */
.FiveDaySection {
  display: flex;
  flex-direction: column;
}

.FiveDayTitle {
  padding-top: 12%;
  padding-bottom: 3%;
  font-size: 4vw;
  font-weight: bold;
}

.FiveDayCard {
  display: flex;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
  color: rgb(110, 110, 110);
}

.FiveData {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.EachDay {
  padding-left: 0;
}

.Day {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.FiveDayIcon {
  font-size: 10;
  line-height: 0;
  font-size: 5em;
  padding: 5%;
}

.DayTemp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Hour.css */
.icon {
  font-size: 5em;
}

.IconSymbols {
  font-size: 1.5rem;
}

/* Hourly.css */
.HourlyData {
  text-align: center;
}

.CenterContent {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}


.MainCity {
  font-size: 5vw;
}

.MainIconAndData {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainWeatherIcon {
  font-size: 25vw;
  line-height: 0;
}

.MainTemp {
  font-size: 2rem;
}

.currentDetails {
  font-size: .75rem;
}

/* WeatherTemperature.css */
.Unit {
  font-size: 1em;
}

.unitLink {
  text-decoration: none;
  color: grey;
  font-size: .75em;
}

.unitLink:hover {
  color: #aef2ff;
}


.LeftColumn {
  width: 100%;
}

.RightColumn {
  width: 100%;
}

.Hourly {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

 .MainIconAndData {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .HourlyTitle {
  font-size: 4vw;
  font-weight: bold;
 }


/* ipad styles 820 */

/* desktop sml styles */

/* desktop lrg styles 1375 */
@media (min-width: 1375px) {
  .CenterContent {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }

 

  .HeaderTitle {
    font-size: 4vw;
  }

  .MainCity {
    font-size: 3vw;
  }

  .Date {
    font-size: 1.5rem;
  }

  .LeftColumn {
     flex: 2;
  }

  .MainIconAndData {
    display: flex;
    flex-direction: row;
  }

  .MainWeatherIcon {
    font-size: 15em;
    line-height: 0;
  }

  .MainTemp {
    font-size: 4em;
  }

  .Unit {
    font-size: 2em;
  }

  .currentDetails {
    font-size: 1.5em;
  }

  .IconSymbols {
    font-size: 3.5rem;
  }

  .HourlyTitle {
    font-size: 1.75vw;
  }
    
  .RightColumn {
    flex: 1;
  }

  .FiveDayTitle {
    font-size: 1.75vw;
  }

  footer {
    font-size: 1rem;
  }

}

