.FiveDaySection {
  margin-right: 0px;
  margin-left: 125px;
  display: flex;
  flex-direction: column;
}

.FiveDayTitle {
  padding-top: 20%;
  padding-bottom: 20px;
}

.FiveDayCard {
  display: flex;
  margin-bottom: 10px;
  width: 140%;
  text-align: center;
  color: rgb(110, 110, 110);
  align-items: center;
  align-content: center;
}

.FiveData {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.EachDay {
  padding-left: 0;
}

.Day {
  padding-top: 5%;
  align-content: center;
}

.FiveDayIcon {
  font-size: 10;
  line-height: 0;
  font-size: 80px;
  padding: 5%;
}

.DayTemp {
  padding-top: 5%;
  align-content: center;
  padding: 5%;
}