/* mobile styles */


.SearchBar {
  display: flex;
  justify-content: space-evenly;
  
}

.WeatherInfo {
  display: flex;
  justify-content: space-evenly;
  
}


/* ipad styles 820 */

/* desktop sml styles */

/* desktop lrg styles 1375 */
@media (max-width: 1375px) {
  .subCenterContent {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    justify-content: stretch;
  }
}

.CenterContent {
  padding-top: 30px;
}

.MainCity {
  font-size: 55px;
}

.MainIconAndData {
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.MainWeatherIcon {
  font-size: 1500%;
  font-size: 10;
  line-height: 0;
}

.MainTemp {
  font-size: 65px;
}

.currentDetails {
  font-size: 150%;
}




