.PageContent {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
}

.Header {
  position: fixed;
  width: 100%;
}

.HeaderTitle {
  font-size: 60px;
  padding-left: 10%;
  padding-bottom: 20px;
}

.SearchBar {
  padding: 0px 10% 10px 10%;
}

.button {
  border-radius: 50px;
}

.button:hover {
  border-color: #ffe898;
  border-width: 2px;
}
