body {
  margin: 0;
  padding: 0;
}

.Content {
  margin: 0;
  padding: 0;
  width: 100%;
}

.PageContent {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
}



.HeaderTitle {
  font-size: 60px;
  padding-left: 10%;
  padding-bottom: 20px;
}

.SearchBar {
  padding: 0px 10% 10px 10%;
  margin-right: 0px;
}

.button {
  border-radius: 50px;
}

.button:hover {
  box-shadow:  0px 3px 3px rgb(164, 164, 164);
}

.video-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  padding: 50px;
}

.nameLink {
  text-decoration: none;
  color: #aef2ff;
  font-size: large;
}

.nameLink:hover {
  color: white;
}