.CenterContent {
  padding-top: 30px;
  
  margin-left: 10%;

}

.subCenterContent {
  margin-right: 0px;
}

.MainCity {
  font-size: 55px;
}

.MainIconAndData {
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.MainWeatherIcon {
  font-size: 1500%;
  font-size: 10;
  line-height: 0;
}

.MainTemp {
  font-size: 65px;
}

.currentDetails {
  font-size: 150%;
}

.EachDay {
  padding-left: 0;
}

.card {
  text-align: center;
  color: rgb(110, 110, 110);
}

.FiveDayTitle {
  padding-top: 20%;
  padding-bottom: 20px;
}

.Day {
  padding-top: 5%;
}

.DayTemp {
  padding-top: 5%;
}
